.Staff {
  h1 {
    margin-bottom: 20px;
    color: red;
    text-transform: uppercase;
  }

  &__above {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > div {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
  }

  .Staff__action {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  // Responsive cho màn hình nhỏ
  @media (max-width: 768px) {
    &__above {
      flex-direction: column;
      align-items: center;
      text-align: center;

      > div {
        justify-content: center;
        width: 100%;
      }

      button {
        width: 100%; // Cho nút chiếm full chiều rộng trên mobile
      }
    }
  }
}
