.vaccine-display {
  padding: 20px;

  &__filters {
    margin-bottom: 20px;
  }
}

.vaccine-table {
  .ant-table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .ant-table-thead > tr > th {
    background-color: #9989c5;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .ant-table-tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .ant-table-tbody > tr:hover {
    background-color: #e6f7ff;
  }

  .ant-table-tbody > tr > td {
    text-align: center;
    vertical-align: middle;
  }

  // Đảm bảo màu nền của cột giá cũng áp dụng đúng
  .ant-table-column-sort {
    background-color: inherit;
  }

  // Loại bỏ màu nền đặc biệt khi một cột được sắp xếp
  td.ant-table-column-sort {
    background-color: inherit !important;
  }

  // Đảm bảo cột giá có màu nền đúng
  tr:nth-child(even) td.ant-table-column-sort {
    background-color: #f9f9f9 !important;
  }

  tr:nth-child(odd) td.ant-table-column-sort {
    background-color: white !important;
  }

  tr:hover td.ant-table-column-sort {
    background-color: #e6f7ff !important;
  }

  .ant-image {
    border-radius: 5px;
    overflow: hidden;
  }
}
